
		*{
			margin: 0;
			padding: 0;
		}
		html{
			width:100%;
			height: 100%;
		}
		body{
			width: 100%;
			height: 100%;
			font-family: "微软雅黑";
			min-width:1201px;
			border-bottom: 0px;
		}
			.di{
				display: inline-block;
			}
			.fl{
				float: right;
			}
			.clear{
				clear: both;
			}
			#page{
				margin: 0 auto;
				width: 1201px;
				height: 100%;
			}
			ul li{
				list-style: none;
			}
			#ConentPageLeft{
				width: 110px;
				min-height: 100%;
				/*min-height: 768px;*/
				background:#1867b6;
				text-align: center;
				float: left;
			}
			#ConentPageLeft .imglogo,
			#ConentPageLeft ul li:nth-child(1)  i,
			#ConentPageLeft ul li:nth-child(2)  i,
			#ConentPageLeft ul li:nth-child(3)  i,
			#ConentPageLeft ul li:nth-child(4)  i,
			#ConentPageLeft ul li:nth-child(1)  i.active,
			#ConentPageLeft ul li:nth-child(2)  i.active,
			#ConentPageLeft ul li:nth-child(3)  i.active,
			#ConentPageLeft ul li:nth-child(4)  i.active,
			#RightTitle ul li i,
			.priority_level ul li i.active,
			.Check_Form_Title .Check_out,
			i.active_right{
				display: inline-block;
				background: url("../imgs/workOrder/workorder.png") no-repeat;
				vertical-align: middle;
				cursor: pointer;
			}
			#ConentPageLeft .imglogo{
				background-position: -355px -121px;
				width: 52px;
				height: 63px;
				margin-top: 30px;
			}
			#ConentPageLeft ul{
				margin-top: 60px;
			}
			#ConentPageLeft ul li:nth-child(2),
			#ConentPageLeft ul li:nth-child(4){
				margin-top:40px;
			}
			#ConentPageLeft ul li:nth-child(3){
				margin-top:42px;
			}
			#ConentPageLeft ul li:nth-child(1)  i{
				background-position: -436px -122px;
				width: 66px;
				height: 63px;
			}
			#ConentPageLeft ul li:nth-child(2)  i{
				background-position: -526px -119px;
				width: 66px;
				height: 66px;
			}
			#ConentPageLeft ul li:nth-child(3)  i{
				background-position: -606px -119px;
				width: 66px;
				height: 66px;
			}
			#ConentPageLeft ul li:nth-child(4)  i{
				background-position: -692px -119px;
				width: 66px;
				height: 66px;
			}
			#ConentPageLeft ul li:nth-child(1)  i.active{
				background-position: -436px -196px;
				width: 66px;
				height: 63px;
			}
			#ConentPageLeft ul li:nth-child(2)  i.active{
				background-position: -526px -199px;
				width: 66px;
				height: 66px;
			}
			#ConentPageLeft ul li:nth-child(3)  i.active{
				background-position: -606px -199px;
				width: 66px;
				height: 66px;
			}
			#ConentPageLeft ul li:nth-child(4)  i.active{
				background-position: -692px -199px;
				width: 66px;
				height: 66px;
			}
			/*right*/
			#ConentPageRight{
				height:100%;
				margin-left: 110px;
			}
			#RightBackground{
				height: 6px;
				background: linear-gradient(to right,#186dbe,#2e7dc8,#639ed6,#dde9f5 95%,#ffffff) no-repeat center;
				background-size: 100% 100%;
			}
			#RightTitle{
				height: 100px;
				border-bottom: 1px solid #D9D9D9;
				line-height: 100px;
				box-sizing: border-box;
			}
			#RightTitle .pageTilte{
				font-size: 36px;
				padding-left: 60px;
			}
			/*几个小图标*/
			#RightTitle .pageLogo{
				float: right;
			}
			#RightTitle ul li{
				display: inline-block;
			}
			#RightTitle ul li:nth-child(1) i{
				width: 30px;
				height: 36px;
				background-position: -447px -283px;
			}
			#RightTitle ul li:nth-child(2) i{
				width: 34px;
				height: 36px;
				margin-left: 30px;
				background-position: -507px -283px;
			}
			#RightTitle ul li:nth-child(3) i{
				width: 40px;
				height: 27px;
				margin-left: 31px;
				background-position: -570px -286px;
			}
			#RightTitle ul li:nth-child(4) i{
				width: 45px;
				height: 37px;
				margin-left: 29px;
				background-position: -638px -283px;
			}
			#RightConent{
				/*border: 1px solid black;*/
				position: relative;
				box-sizing: border-box;
				height:calc(100% - 106px);
				overflow-x:hidden;
				
			}
			 #RightNavMenu{
				width: 190px;
				height: 100%;
				background: #e9f0f8;
				position: absolute;
				/*position: relative;*/
				/*display: inline-block;
				float: left;*/
			}
			/*导航条样式*/
			.el-menu{
				border-right: none;
			}
			.el-col-12{
				width: 100%;
			}
			.el-submenu .el-menu-item{
				min-width: 189px;
				box-sizing: border-box;
				padding-left: 30px!important;
			}
			
			.el-submenu__title{
				padding-left: 10px!important;
			}
			.el-submenu__title i{
				color: #4d4e50!important;
			}
			.el-submenu__icon-arrow{
				font-size: 18px;
				font-weight: 600;
			}
			.SystemSetup{
				display: inline-block;
				width: 180px;
				height: 56px;
				font-size: 18px;
				line-height: 56px;
				padding-left: 10px;
				color: rgb(85, 89, 88);
				cursor: pointer;
			}
			.SystemSetup:hover{
				background-color: rgb(186,192,198);
			}
			.el-submenu__title span{
				font-size: 18px;
			}
			.el-menu-item-group__title{
				padding: 0!important;
			}
			li.el-menu-item.is-active{
				background: white!important;
			}
			li.el-menu-item.is-active .arrow0{
				font-weight: 550!important;
			}
			.el-menu-item:hover{
				background: white!important;
			}
			#RightNavMenu .arrow0{
				font-size: 16px;
			}
			#RightNavMenu .arrow{
				width: 18px;
				height: 18px;
				border-radius: 100%;
				background: #176EBE;
				display: inline-block;
				line-height: 18px;
				text-align: center;
				font-size: 14px;
				color: white;
				float: right;
				margin-right: -28px;
				margin-top: 17px;
			}
			/*右下方内容区域*/
			#RightForm{
				display: inline-block;
				width: 867px;
				position: relative;
				left: 224px;
				box-sizing: border-box;
			}
			/*serarch部分*/
			#RightForm .RightFormSearch,
			#RightForm .RightFormButton{
				height: 44px;
				width: 100%;
				margin-top: 20px;
				box-sizing: border-box;
			}
			.RightFormSearch input{
				height: 40px;
				width: 458px;
				text-indent: 16px;
				font-size: 16px;
				margin-top: 3px;
			}
			.RightFormSearch input::-webkit-input-placeholder{
    			font-size: 16px;
    			text-indent: 16px;
    			color: #b9b9b9;
			}
			.RightFormSearch input:-moz-placeholder {
			  font-size: 16px;
			  text-indent: 16px;
			  color: #b9b9b9;
			}
			.RightFormSearch input::-moz-placeholder{ 
			  font-size: 16px;
			  text-indent: 16px;
			  color: #b9b9b9;
			}
			.RightFormSearch input:-ms-input-placeholder{ 
				font-size: 16px;
				text-indent: 16px;
				color: #b9b9b9;
			}
			.RightFormSearch .RightFormBtn2,
			.RightFormButton .RightFormButton_btn{
				padding: 13px 18px;
				border: none;
				background: #186DBE;
				color: white;
				border-radius: 4px;
				cursor: pointer;
				font-size: 16px;
			}
			.RightFormSearch .RightFormBtn2{
				margin-left: 12px;
			}
			.RightFormSearch .RightFormBtn2:hover,
			.RightFormButton .RightFormButton_btn:hover{
				transition:background-color 0.7s;
				border-color:#409EFF;
				background-color:#409EFF;
			}
			/*新建button部分*/
			/*.RightFormButton_search{
				margin-left: 14px;
			}*/
			
			/*更多操作*/
			/*.RightFormButton_dropdown{
				float: right;
			}
			.RightFormButton_dropdown .el-dropdown .el-dropdown-link{
				height: 52px;
				width: 120px;
				background:#186DBE;
				line-height: 52px;
				font-size: 16px;
				color: white;
				display: inline-block;
				text-align: center;
				border-radius: 5px;
				cursor: pointer;
			}*/
			/*更多操作下拉框样式*/
			/*.el-dropdown-menu{
				width: 120px!important;
			}
			.el-dropdown-menu li{
				text-align: center;
			}*/
			/*表单详情*/
		.RightFormConent{
			width: 897px;
			height: auto;
			margin-top: 20px;
			margin-left: -15px;
			box-sizing: border-box;
		}
		.RightFormConent .RightFormConent_title,
		.RightFormConent .RightFormConent_Content{
			width: 100%;
			box-sizing: border-box;
			border-bottom: 1px solid #ebeef5;
			height: 48px;
			overflow: hidden;
		}
		.RightFormConent .RightFormConent_Content:hover{
			background-color: #f5f7fa;
		}
		.RightFormConent .RightFormConent_title li,
		.RightFormConent .RightFormConent_Content li{
			height: 48px;
			text-align: left;
			box-sizing: border-box;
			display: table-cell;
			vertical-align: middle;
			font-size: 16px;
			word-wrap:break-word;
			word-break:break-all;
		}
		.RightFormConent .RightFormConent_title li{
			color:#909399;
			font-weight: 600;
		}
		.RightFormConent .RightFormConent_Content li{
			font-weight: 400;
			cursor: pointer;
			padding-right: 18px;
			word-wrap:break-word;
			word-break:break-all;
		}
		.RightFormConent .RightFormConent_title li:nth-child(1),
		.RightFormConent .RightFormConent_Content li:nth-child(1){
			width: 315px;
			padding-left: 15px;
		}
		.RightFormConent .RightFormConent_title li:nth-child(2),
		.RightFormConent .RightFormConent_Content li:nth-child(2){
			width: 114px;
		}
		.RightFormConent .RightFormConent_title li:nth-child(3),
		.RightFormConent .RightFormConent_Content li:nth-child(3){
			width: 128px;
		}
		.RightFormConent .RightFormConent_title li:nth-child(4),
		.RightFormConent .RightFormConent_Content li:nth-child(4){
			width: 200px;
		}
		.RightFormConent .RightFormConent_title li:nth-child(5),
		.RightFormConent .RightFormConent_Content li:nth-child(5){
			width: 80px;
		}
		
		.RightFormConent .RightFormConent_title li:nth-child(6),
		.RightFormConent .RightFormConent_Content li:nth-child(6){
			width: 42px;
		}
		.fa-sliders,
		.detail_fa{
			font-size: 26px;
		}
		.fa-sliders:hover,
		.detail_fa:hover{
			transition:color 0.7s;
			color: #186DBE;
		}
		/*span.oprate_color,
		span.operate{
			width: 60px;
		    height: 30px;
		    border-radius: 4px;
		    display: inline-block;
		    line-height: 30px;
		    color: white;
		}
		span.operate{
			background: #f39900;
		}
		span.oprate_color{
			background: #666666;
		}*/
		.RightFormConent_Bottom{
			margin-top: 20px;
		}
		.RightFormConent_Bottom .el-pagination{
			padding: 0!important;
		}
		
		/*sla详情*/
		#PopNewDetail .el-dialog__header{
			height: 60px;
			border-bottom: 1px solid #efefef;
			padding: 0;
			padding-left: 45px;
		}

#PopNewDetail .el-dialog__header .el-dialog__title{
	line-height: 60px;
	font-size: 26px;
	font-weight: 500;
}

#PopNewDetail .el-dialog__header .el-dialog__headerbtn{
	font-size: 40px;
	top: 0px;
	line-height: 60px;
	right: 22px;
}
#PopNewDetail .el-dialog__headerbtn .el-dialog__close{
	color: #191919;
}

		.el-form-item__content{
			margin-left: 0!important;
		}
		.el-form-item__error{
			padding-left: 18px;
			font-size: 14px;	
		}
		.el-input input::-webkit-input-placeholder { 
    			font-size: 16px;
    			color: #333333;
		}
		.el-input input:-moz-placeholder { 
			  font-size: 16px;
			  color: #333333;
		}
		.el-input input::-moz-placeholder { 
			  font-size: 16px;
			  color: #333333;
		}
		.el-input input:-ms-input-placeholder { 
			   font-size: 16px;
			   color: #333333;
		}
		#PopNewDetail .Detail_Form{
		width: 100%;
		box-sizing: border-box;
		margin-left: 40px;
	}
	.detail{
		height: auto;
	}
	.Detail_Form .detail span:nth-child(1),
	.details .detailspan{
		text-align: right;
		width: 140px;
		display: inline-block;
		height: 50px;
		line-height: 50px;
		font-size: 16px;
		font-weight: 500;
	}
	.Detail_Form .detail span:nth-child(2){
		font-size: 16px;
		float: right;
		width: 200px;
		margin-top: 17px;
		margin-right: 100px;
		word-wrap:break-word;
		word-break:break-all;
	}
	.detail_table{
		width: 315px;
		margin-left: 38px;
		margin-top: 25px;
	}
	.detail_table .detail_title,
	.detail_table .detail_conent{
		width: 100%;
		height: 48px;
		line-height: 48px;
		border-bottom: 1px solid #ebeef5;
	}
	.detail_table .detail_title li,
	.detail_table .detail_conent li{
		float: left;
		width: 105px;
		font-weight: 500;
		font-size: 16px;
		height: 48px;
	}
	.detail_conent li span:nth-child(2){
		font-size: 14px;
		color: #11111157;
	}
	
	#PopNewDetail .el-dialog__body{
		padding-bottom: 10px!important;
		padding-top: 15px!important;
	}
	#PopNewDetail .el-dialog__footer{
		margin-top: -10px!important;
	}
/**/
	
.dialog-footer2{
	padding-right: 10px!important;
}
/*.el-button--default:hover{
	color: #606266;
}*/
.el-button--default,
.el-button--primary{
	padding: 13px 18px;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
}
.el-button--primary{
	background: #186DBE;
}
.el-button--default:hover{
	transition:background-color 0.7s;
}

#FormBottoms1{
	width: 501px;
	height: 1px;
	border-bottom: 1px solid #EFEFEF;
	margin-left: -20px;
	margin-top: 32px!important;
}
			/**/
		
		/*右侧筛选弹窗*/
		.Right_Check{
			width: 342px;
			min-height: 100%;
			border-left: 1px solid #bebebe;
			border-top: 1px solid #bebebe;
			position: absolute;
			display: inline-block;
			box-sizing: border-box;
			left:1096px;
			top: 0;
			-webkit-transition: all .3s linear;
  			-moz-transition: all .3s linear;
   			-ms-transition: all .3s linear;
  			-o-transition: all .3s linear;
   			transition: all .3s linear;
   			background: white;
   			box-shadow: -3px 2px 3px #CCCCCC;
		}
		.Right_Check .Right_Check_Form{
			width: 304px;
			margin: 0 auto;
		}
		.Right_Check_Form .Check_Form_Title{
			height: 50px;
			font-size:26px;
			text-align: center;
			line-height: 50px;
			border-bottom: 1px solid #186DBE;
		}
		.Check_Form_Title .Check_out{
			background-position: -528px -406px;
			width: 24px;
			height: 25px;
			float: right;
			margin-top: 12.5px;
		}
		.Right_Check_Form .Check_Term{
			font-size: 16px;
			color: #343434;
			margin-top: 16px;
		}
		.check_in .check_search{
			height: 30px;
			width: 70px;
			border: none;
			background: white;
			border: 1px solid #999999;
			color: black;
			border-radius: 4px;
			cursor: pointer;
			margin-top: 10px;
		}
	/*单选框样式*/
   .el-select{
   		width: 100%;
   		height: 44px;
   }
   .Right_Check_Form .el-select{
   		margin-top: 16px;
   }
   .el-select-dropdown{
   		z-index: 20000!important;
   }
   
   .el-select .el-input .el-input__inner{
   		height: 44px;
   		font-size: 18px;
   }
   .my-autocomplete0 li .highlighted .addr,
   .my-component1 li .highlighted .addr,
   .my-component li .highlighted .addr {
      	color: #ddd;
    }
	.el-popper[x-placement^=bottom]{
		margin-top: 1px!important;
	}
	.my-autocomplete0 .el-popper[x-placement^=bottom] .popper__arrow,
	.my-component1 .el-popper[x-placement^=bottom] .popper__arrow,
    .my-component .el-popper[x-placement^=bottom] .popper__arrow {
    	display: none!important;
	}
	.my-autocomplete0  .popper__arrow,
	.my-component1 .popper__arrow,
    .my-component .popper__arrow{
    	display: none!important;
	}
	/*.popper__arrow{
		display: none!important;
	}*/
	.my-autocomplete0 .el-select-dropdown__item,
	.my-component1 .el-select-dropdown__item,
	.my-component .el-select-dropdown__item{
		font-size: 16px !important;
    	color: #333333 !important;
	}
	/*data日期插件*/
	.form-data{
		margin-top: 16px;
	}
	.form-data .begin .el-date-editor{
		width: 148px;
		height: 44px;
	}
	.form-data .end .el-date-editor{
		height: 44px;
		width: 120px;
	}
	.form-data .el-date-editor .el-input__inner{
		height: 44px;
	}
	.my-compdata,
	.my-compdata .el-picker-panel__content,
	.my-compdata .el-picker-panel__content.el-date-table{
		width: 240px!important;
		/*height: 306px!important;*/
	}
	.my-compdata1,
	.my-compdata1 .el-picker-panel__content,
	.my-compdata1 .el-picker-panel__content.el-date-table{
		width: 190px!important;
	}
	.my-compdata1 .el-picker-panel__body .el-date-picker__header,
	.my-compdata .el-picker-panel__body .el-date-picker__header{
		margin-bottom: 5px!important;
	}
	.my-compdata1 .el-picker-panel__content,
	.my-compdata .el-picker-panel__content{
		/*width: 240px!important;*/
		/*height: 306px!important;*/
		margin: 0!important;
		margin-top: -10px!important;
	}
	.el-date-table th{
		padding: 0!important;
	}
	.form-data .el-input--suffix .el-input__inner{
		padding-right: 0!important;
	}
	/*省会城市下拉框样式*/
		#Check-appSelect{
				width: 100%;
				height: 55px;
				border: 1px solid #999999;
				border-radius:4px;
				line-height: 55px;
				padding-left: 10px;
				box-sizing: border-box;
				position: relative;
				font-size: 16px;
				font-weight: 500;
			}
			#Check-appSelect .actices{
				background: url(../imgs/workOrder/workorder.png) no-repeat;
				background-position:-672px -292px;
				width: 12px;
				height: 10px;
				display: inline-block;
				float: right;
				vertical-align: middle;
				margin-top: 24px;
				right: 10px;
				position: absolute;
				-webkit-transition: all .3s linear;
  				-moz-transition: all .3s linear;
   				-ms-transition: all .3s linear;
  				-o-transition: all .3s linear;
   				transition: all .3s linear;
   				vertical-align:baseline;
			}
			#Check-appSelect .actives{
				transform:rotatez(-180deg);
				-ms-transform:rotatez(-180deg); /* Internet Explorer */
				-moz-transform:rotatez(-180deg); /* Firefox */
				-webkit-transform:rotatez(-180deg); /* Safari 和 Chrome */
				-o-transform:rotatez(-180deg); /* Opera */
				-webkit-transition: all .3s linear;
  				-moz-transition: all .3s linear;
   				-ms-transition: all .3s linear;
  				-o-transition: all .3s linear;
   				transition: all .3s linear;
   				vertical-align:baseline;
   				transform-origin: center center;
			}
			/*#Check_Province .user-infos{
    			animation: solid_down 0.5s ease-in;
    			transition: height 0.2s
			}*/
			#Check_Province .typesinput{
				width: 94px;
				height:36px;
				/*outline: none;*/
				position: absolute;
				box-sizing: border-box;
				text-indent: 30px;
				z-index: 1000;
			}
			#Check_Province .bigSotre{
				position: absolute;
				background: url(../imgs/workOrder/workorder.png) no-repeat;
				width: 21px;
				height: 21px;
				display: inline-block;
				background-position:-644px -410px;
				margin-top: 10px;
				margin-left: 15px;
				z-index: 10000;
			}
			#Check_Province .user-item{
				position: absolute;
				width: 94px;
				max-height: 150px;
				overflow-y:auto;
				overflow-x: hidden;
				border: 1px solid #999999;
				margin-top: 36px;
				box-sizing: border-box;
				border-bottom-left-radius:4px;
				border-bottom-right-radius:4px;
				z-index: 100000;
			}
			#Check_Province .user-item li{
				width: 92px;
				height: 35px;
				line-height: 35px;
				background: #FFFFFF;
				
			}
			#Check_Province .user-item li li:hover{
				background: #1d89e3;
			}
			/*.In_Out{
				display: none;
			}*/

		/*下拉框样式*/
	.el-popper[x-placement^=bottom]{
		margin-top: 1px!important;
	}
   .my-autocomplete0 .el-select-group__title{
   		font-size: 16px !important;
   		color: #333333 !important;
   }	
	/*data插件*/
	.my-autocomplete0{
		z-index: 20000!important;
	}
	.demo-ruleForm1 .el-date-editor.el-input,
	.demo-ruleForm1 .el-date-editor.el-input__inner{
		width: 100%!important;
	}
	.demo-ruleForm1 .el-input__prefix{
		display: none!important;
	}
	.demo-ruleForm1 .el-input--prefix .el-input__inner{
		padding-left: 15px!important;
	}
	
	/*成功提示*/
.el-message{
	min-width: 160px;
}
.el-message__closeBtn{
	display: none;	
}
/*警告提示框*/
/*提示框按钮去掉*/
.el-message-box__wrapper{
	z-index: 888888!important;
}
.el-message-box__wrapper .el-message-box__btns{
	display: none;
}
/*提示框上移*/
.el-message-box__wrapper .el-message-box{
	margin-top: -460px;
}
.el-message--info{
	display: none!important;
	z-index: 20000;
}

	.inputsDiv1,.inputsDiv,.inputsDiv2,.inputsDiv3,.inputsDiv4{
			position: absolute;
			display: inline-block;
			color: #cccccc;
			height: 28px;
			font-size: 14px;
			padding-left:18px;
			margin-top: -13px;
		}	
		.insIf1,.insIf,.insIf2,.insIf3,.insIf4{
			z-index: 1000000!important;
		}
		/*toolTip提示*/
	.tool_tip{
		min-width: 10px;
		max-width: 150px;
		display: table-cell;
		word-break: break-all;
		word-wrap: break-word;
	}	