<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>组织架构</title>
	<link rel="stylesheet" href="../static/element-ui.css"/>
	<link rel="stylesheet" href="../static/css/font-awesome.min.css" />
	<script type="text/javascript" src="../static/vue.js"></script>
	<script type="text/javascript" src="../static/element-ui.js"></script>
	<script type="text/javascript" src="../static/axios.min.js"></script>
	<script type="text/javascript" src="../static/d3.min.js"></script>
	<script type="text/javascript" src="../static/timeStamp.js"></script>
	<script type="text/javascript" src="../static/ajaxPackage.js"></script>
	<script type="text/javascript" src="../static/d3Tree.js" ></script>
	<style></style>
</head>
<body>
	<div id="body">
		<div id="ConentPageLeft">
			<div class="imglogo"></div>
				<ul>
					<li v-for="(title_index,index) in titleIndex" @click="changeTitle(index)"><i :class="{active:changeTitles ===index}"></i></li>
				</ul>
		</div>
		<div id="ConentPageRight">
			<div id="RightBackground"></div>
			<div id="RightTitle">
				<p class="di pageTilte">组织架构</p>
				<ul class="pageLogo di">
					<li><i></i></li>
					<li><i></i></li>
					<li><i></i></li>
					<li><i></i></li>
				</ul>
				<div class="clear"></div>
			</div>
			<div id="RightConent">
					<div id="RightNavMenu">
						<el-row class="tac proplow">
							<el-col :span="12">
									<el-menu
									:collapse-transition=false
										default-active="4-1"
										class="el-menu-vertical-demo"
										@select="handleSelect"
										background-color="#e9f0f8"
										text-color="#555958"
										active-text-color="#186dbe"
										@open="handleOpen"
										@close="handleClose"
									>
									<el-submenu index="1">
											<template slot="title">
												<span style="display: inline-block;width: 100%;height: 56px;">基础设置</span>
											</template>
											<el-menu-item-group>
												<a href="systemSetub.html"><el-menu-item index="1-1">
													<span class="arrow0 arrow_size">产品分类</span>
												</el-menu-item></a>
												<a href="productSetub.html"><el-menu-item index="1-2">
													<span class="arrow0 arrow_size">产品设置</span>
												</el-menu-item></a>
												<a href="classifiSetub.html"><el-menu-item index="1-3">
													<span class="arrow0 arrow_size">故障类别</span>
												</el-menu-item></a>
											</el-menu-item-group>
									</el-submenu>
									<!--<el-submenu index="2">
										<template slot="title">
											<span style="display: inline-block;width: 100%;height: 56px;">服务通道</span>
										</template>
										<el-menu-item-group>
											<el-menu-item index="2-1">选项1</el-menu-item>
											<el-menu-item index="2-2">选项2</el-menu-item>
											<el-menu-item index="2-3">选项3</el-menu-item>
											<el-menu-item index="2-4">选项4</el-menu-item>
										</el-menu-item-group>
									</el-submenu>-->
									<el-submenu index="3">
											<template slot="title">
												<span style="display: inline-block;width: 100%;height: 56px;">工单设置</span>
											</template>
											<el-menu-item-group>
												<!--<a href="typeWork.html"><el-menu-item index="3-1">工单类型</el-menu-item></a>-->
												<a href="servicemodal.html">
													<el-menu-item index="3-2">
														<span class="arrow_size">服务模式</span>
													</el-menu-item>
												</a>
												<a href="workTime.html">
													<el-menu-item index="3-3">
														<span class="arrow_size">工作时间</span>
													</el-menu-item>
												</a>
											</el-menu-item-group>
									</el-submenu>
									<el-submenu index="4">
										<template slot="title">
											<span style="display: inline-block;width: 100%;height: 56px;">组织人员</span>
										</template>
										<el-menu-item-group class="t1">
												<a href="architecture.html">
													<el-menu-item index="4-1">
														<span class="arrow_size">组织架构</span>
													</el-menu-item>
												</a>
												<a href="permissions.html">
													<el-menu-item index="4-2">
														<span class="arrow_size">权限设置</span>
													</el-menu-item>
												</a>
										</el-menu-item-group>
									</el-submenu>
								</el-menu>
							</el-col>
						</el-row>
							
					</div>
					<div>
						<button class="fr elbuttons" @click="newClick">
							<i class="fa fa-plus" aria-hidden="true"></i> 
							<span>新建组织</span>
						</button>
					</div>
					<div id="div123" style="width:900px;height:800px;">
								<div id="full-container">
									<!--<button class="btn-action btn-fullscreen" onclick="params.funcs.toggleFullScreen()">Fullscreen <span class='icon'/> <i class="fa fa-arrows-alt" aria-hidden="true"></i></span></button>
										<button class="btn-action btn-show-my-self" onclick="params.funcs.showMySelf()"> Show myself <span class='icon'/> <i class="fa fa-user" aria-hidden="true"></i></span></button>
						
										<button class=" btn-action btn-search" onclick="params.funcs.search()"> Search <span class='icon'/> <i class="fa fa-search" aria-hidden="true"></i></span></button>
						
										<button class=" btn-action btn-back" onclick="params.funcs.back()"> Back <span class='icon'/> <i class="fa fa-arrow-left" aria-hidden="true"></i></span></button> -->
										<div class="department-information">
											<div class="dept-name">
												dept name
											</div>
											<div class="dept-emp-count">
												dept description test, this is department description
												<!--添加-->
												<i id="bt02" class="fa fa-user-plus imgAdd" @click="addNewdepart"></i>
												<!--编辑-->
												<i id="bt09" class="fa fa-pencil imgEditor" @click="editorNewdepart"></i>
												<!--删除-->
												<i id="bt05" class="fa fa-trash imgDeletes" @click="deleteNewdepart"></i>
											</div>
											 <div class="dept-description">
												dept description test, this is department description
											</div>
										</div>
						
										<div class="user-search-box">
											<div class="input-box">
												<div class="close-button-wrapper"><i onclick="params.funcs.closeSearchBox()" class="fa fa-times" aria-hidden="true"></i></div>
												<div class="input-wrapper">
													<input type="text" class="search-input" placeholder="Search" />
													<div class="input-bottom-placeholder">By Firstname, Lastname, Tags</div>
												</div>
												<div>
												</div>
											</div>
											<div class="result-box">
												<div class="result-header"> RESULTS </div>
												<div class="result-list">
													<div class="buffer"></div>
												</div>
											</div>
										</div>
										<div id="svgChart">
											
										</div>
							</div>
						</div>
					</div>
				</div>
				<!--由于新建部门和个人是分开的-->
				<div id="PopNewMan">
					<el-dialog
  					title="新建组织架构"
  					:visible.sync="dialogVisible1"
  					width="460px">
  							<!--新建部门-->
  								<el-tabs v-model="nodeTypes" type="card" @tab-click="department">
								    <el-tab-pane label="新建部门" name="first">
								    	<div class="Form_Create_Customer">
								    	<el-form ref="form" :model="form" status-icon :rules="rules3">
											<el-form-item  prop="organizeId" v-if="distables">
						 						<el-select v-model="form.organizeId" filterable placeholder="请选择或输入要查找的部门" @focus="getDepartment" popper-class="my-component1">
													<el-option
													    v-for="item in options"
													    :key="item.organizeId"
													    :label="item.name"
													    :value="item.organizeId">
													</el-option>
					  							</el-select>
											</el-form-item>
											
											<el-form-item  v-if="!distables" class="mycomponents">
												<el-input auto-complete="off" v-if="!distables" class="mycomponent" v-model="flags.name" readonly unselectable="on"></el-input>
											</el-form-item>
											
											<el-form-item  prop="name">
						 						<div :class="{'insIf':this.zIndex}" class="inputsDiv">部门名称(必填)</div>
												<el-input  v-model="form.name" auto-complete="off" :placeholder='holder' @focus="validatePass0"></el-input>
											</el-form-item>
											<el-form-item  prop="describes">
						 						<el-input 
			  										class="textarea"
			  										type="textarea"
			  										:rows="5"
			  										placeholder="请输入描述"
			  										v-model="form.describes">
												</el-input>
											</el-form-item>	
											<div class="uploadDiv">
												<span style="color:black;font-size:16px;">&nbsp;&nbsp;&nbsp;图片上传(仅能上传一张)</span>
												<el-upload
														action="/uploadFile"
														list-type="picture-card"
														:on-success="uploadFileSuccess"
														:limit="1"
														:on-preview="handlePictureCardPreview"
														:on-remove="handleRemove">
														<i class="el-icon-plus"></i>
												</el-upload>
												<el-dialog :visible.sync="dialogVisible3">
												  <img width="100%" :src="dialogImageUrl" alt="">
												</el-dialog>
											</div>
										</el-form>
										</div>
										<div class="FormBottoms"></div>
										<div class="forms_bottom">
											
											<span slot="footer" class="dialog-footer dialog-footer1">
						    					<el-button @click="dialogVisible1=false">取&nbsp;&nbsp;&nbsp;&nbsp;消</el-button>
						    					<el-button type="primary" @click="submitForm0('form')">确&nbsp;&nbsp;&nbsp;&nbsp;定</el-button>
						  					</span>
					  					</div>
								    </el-tab-pane>
								    <el-tab-pane label="新建人员" name="second">
								    	<div class="Form_Create_Customer">
								    	<el-form ref="form1" :model="form1" status-icon :rules="rules4">
											<el-form-item  prop="organizeId" v-if="distables">
						 						<el-select v-model="form1.organizeId" filterable placeholder="请选择或输入要查找的部门" @focus="getDepartment" popper-class="my-component1">
													<el-option
													    v-for="item in options"
													    :key="item.organizeId"
													    :label="item.name"
													    :value="item.organizeId">
													</el-option>
					  							</el-select>
											</el-form-item>
											
											<el-form-item  v-if="!distables" class="mycomponents">
												<el-input auto-complete="off" v-if="!distables" class="mycomponent" v-model="flags.name" readonly unselectable="on"></el-input>
											</el-form-item>
											
											<el-form-item  prop="name">
						 						<div :class="{insIf2:this.zIndex2}" class="inputsDiv2">人员名称(必填)</div>
												<el-input  v-model="form1.name" auto-complete="off" :placeholder='holder2' @focus="validatePass3"></el-input>
											</el-form-item>
											
											<el-form-item  prop="positionsn">
												<div class="inputsDiv3" :class="{insIf3:this.zIndex6}">职位名称(必填)</div>
												<el-input  v-model="form1.positionsn" auto-complete="off" :placeholder='holder3' @focus="validatePass4"></el-input>
											</el-form-item>
											
											<el-form-item  prop="phone">
												<div class="inputsDiv1" :class="{insIf1:this.zIndex1}">电话号码(必填)</div>
												<el-input  v-model="form1.phone" auto-complete="off" :placeholder="holder1" @focus="validatePassn"></el-input>
											</el-form-item>
											
											<el-form-item  prop="email">
												<div :class="{insIf4:this.zIndex4}" class="inputsDiv4">邮箱(必填)</div>
												<el-input  v-model="form1.email" auto-complete="off" :placeholder='holder4' @focus="validatePass5"></el-input>
											</el-form-item>
											
											<el-form-item  prop="roleId" class="component2">
						 						<el-select v-model="form1.roleId" filterable placeholder="请选择或输入要配置的角色(必选)"  popper-class="my-component1 ">
													<el-option
													    v-for="item in optionsId"
													    :key="item.id"
													    :label="item.role"
													    :value="item.id">
													</el-option>
					  							</el-select>
											</el-form-item>
											<div class="uploadDiv">
												<span style="color:black;font-size:16px;">&nbsp;&nbsp;&nbsp;图片上传(仅能上传一张)</span>
												<el-upload
														action="/uploadFile"
														list-type="picture-card"
														:on-success="uploadFileSuccess"
														:limit="1"
														:on-preview="handlePictureCardPreview"
														:on-remove="handleRemove">
														<i class="el-icon-plus"></i>
												</el-upload>
												<el-dialog :visible.sync="dialogVisible3">
												  <img width="100%" :src="dialogImageUrl" alt="">
												</el-dialog>
											</div>
										</el-form>
										</div>
										<div class="FormBottoms"></div>
										<div class="forms_bottom">
											<span slot="footer" class="dialog-footer dialog-footer1">
							    				<el-button @click="dialogVisible1=false">取&nbsp;&nbsp;&nbsp;&nbsp;消</el-button>
							    				<el-button type="primary" @click="submitForm('form1')">确&nbsp;&nbsp;&nbsp;&nbsp;定</el-button>
						  					</span>
										</div>
								    </el-tab-pane>
  								</el-tabs>
						</div>
						<!--删除按钮-->
						<div id="PopNewMans">
							<el-dialog
		  					title="删除部门或人员"
		  					:visible.sync="dialogVisible2"
		  					width="500px">
		  						<div class="my-delete">
										<div class="icon_title">
						  					<i class="icon_mark"></i>
						  					<span class="di mark_span">确定删除吗?</span>
						  				</div>
						  			    <p class="check_delete" @click="Delete_true" style="cursor: pointer;">
						  			    	<input type="checkbox"  :checked="checked"/> 是的，确定删除
						  			    </p>
		  						</div>
		  						<div id="FormBottomsn"></div>
		  						<div style="text-align: right; margin: 0">
									<el-button type="danger" :loading="loading" @click="deletes" :disabled="disabled" class="deleteNow">{{this.Detail_Deleting}}</el-button>
									<el-button  @click="dialogVisible2 = false" class="cancel defaultsn">取消</el-button>
								</div>
							
						</div>
						
						<!--编辑部门-->
					<div id="PopNewMan4">
						<el-dialog
	  					title="组织架构部门编辑"
	  					:visible.sync="dialogVisible4"
	  					width="460px">
	  						<div class="Form_Create_Customer">
	  							<el-form ref="form" :model="form" status-icon :rules="rules3">
									<el-form-item  prop="name">
						 				<div :class="{'insIf':this.zIndex}" class="inputsDiv">部门名称(必填)</div>
										<el-input  v-model="form.name" auto-complete="off" :placeholder='holder' @focus="validatePass0"></el-input>
									</el-form-item>
									<el-form-item  prop="describes">
						 				<el-input 
			  								class="textarea"
			  								type="textarea"
			  								:rows="5"
			  								placeholder="请输入描述"
			  								v-model="form.describes">
										</el-input>
									</el-form-item>	
									<div class="uploadDiv">
										<span style="color:black;font-size:16px;">&nbsp;&nbsp;&nbsp;图片上传(仅能上传一张)</span>
											<el-upload
												action="/uploadFile"
												list-type="picture-card"
												:on-success="uploadFileSuccess"
												:limit="1"
												:file-list="updataFiles"
												:on-preview="handlePictureCardPreview"
												:on-remove="handleRemove">
												<i class="el-icon-plus"></i>
											</el-upload>
											<el-dialog :visible.sync="dialogVisible3">
												<img width="100%" :src="dialogImageUrl" alt="">
											</el-dialog>
									</div>
								</el-form>
	  						</div>
	  						<div class="FormBottoms"></div>
								<div class="forms_bottom">		
								<span slot="footer" class="dialog-footer dialog-footer1">
						    		<el-button @click="dialogVisible4=false">取&nbsp;&nbsp;&nbsp;&nbsp;消</el-button>
						    		<el-button type="primary" @click="submitForm0('form')">确&nbsp;&nbsp;&nbsp;&nbsp;定</el-button>
						  		</span>
					  		</div>
					</div>	
					<!--编辑人员-->	
					<div id="PopNewMan5">
						<el-dialog
	  					title="组织架构人员编辑"
	  					:visible.sync="dialogVisible5"
	  					width="460px">	
						
						<div class="Form_Create_Customer">
								    	<el-form ref="form1" :model="form1" status-icon :rules="rules4">
											<!--<el-form-item  prop="organizeId" v-if="distables">
						 						<el-select v-model="form1.organizeId" filterable placeholder="请选择或输入要查找的部门" @focus="getDepartment" popper-class="my-component1">
													<el-option
													    v-for="item in options"
													    :key="item.organizeId"
													    :label="item.name"
													    :value="item.organizeId">
													</el-option>
					  							</el-select>
											</el-form-item>-->
											
											<!--<el-form-item  v-if="!distables" class="mycomponents">
												<el-input auto-complete="off" v-if="!distables" class="mycomponent" v-model="flags.name" readonly unselectable="on"></el-input>
											</el-form-item>-->
											
											<el-form-item  prop="name">
						 						<div :class="{insIf2:this.zIndex2}" class="inputsDiv2">人员名称(必填)</div>
												<el-input  v-model="form1.name" auto-complete="off" :placeholder='holder2' @focus="validatePass3"></el-input>
											</el-form-item>
											
											<el-form-item  prop="positionsn">
												<div class="inputsDiv3" :class="{insIf3:this.zIndex6}">职位名称(必填)</div>
												<el-input  v-model="form1.positionsn" auto-complete="off" :placeholder='holder3' @focus="validatePass4"></el-input>
											</el-form-item>
											
											<el-form-item  prop="phone">
												<div class="inputsDiv1" :class="{insIf1:this.zIndex1}">电话号码(必填)</div>
												<el-input  v-model="form1.phone" auto-complete="off" :placeholder="holder1" @focus="validatePassn"></el-input>
											</el-form-item>
											
											<el-form-item  prop="email">
												<div :class="{insIf4:this.zIndex4}" class="inputsDiv4">邮箱(必填)</div>
												<el-input  v-model="form1.email" auto-complete="off" :placeholder='holder4' @focus="validatePass5"></el-input>
											</el-form-item>
											
											<el-form-item  prop="roleId" class="component2">
						 						<el-select v-model="form1.roleId" filterable placeholder="请选择或输入要配置的角色(必选)" @focus="getRoleId" popper-class="my-component1 ">
													<el-option
													    v-for="item in optionsId"
													    :key="item.id"
													    :label="item.role"
													    :value="item.id">
													</el-option>
					  							</el-select>
											</el-form-item>
											<div class="uploadDiv">
												<span style="color:black;font-size:16px;">&nbsp;&nbsp;&nbsp;图片上传(仅能上传一张)</span>
												<el-upload
														action="/uploadFile"
														list-type="picture-card"
														:on-success="uploadFileSuccess"
														:limit="1"
														:on-preview="handlePictureCardPreview"
														:on-remove="handleRemove">
														<i class="el-icon-plus"></i>
												</el-upload>
												<el-dialog :visible.sync="dialogVisible3">
												  <img width="100%" :src="dialogImageUrl" alt="">
												</el-dialog>
											</div>
										</el-form>
										</div>
										<div class="FormBottoms"></div>
										<div class="forms_bottom">
											<span slot="footer" class="dialog-footer dialog-footer1">
							    				<el-button @click="dialogVisible5=false">取&nbsp;&nbsp;&nbsp;&nbsp;消</el-button>
							    				<el-button type="primary" @click="submitForm('form1')">确&nbsp;&nbsp;&nbsp;&nbsp;定</el-button>
						  					</span>
										</div>
						
					</div>	
						
						
						
					</div>
					
		</body>
	</html>