<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>产品设置</title>
		<link rel="stylesheet" href="../static/element-ui.css" />
		<link rel="stylesheet" href="../static/css/font-awesome.min.css"/>
		<script type="text/javascript" src="../static/vue.js" ></script>
		<script type="text/javascript" src="../static/element-ui.js"></script>
		<script type="text/javascript" src="../static/axios.min.js"></script>
		<script type="text/javascript" src="../static/timeStamp.js"></script>
		<script type="text/javascript" src="../static/ajaxPackage.js"></script>
	</head>
	<body>
		<div id="pages">
			<div id="ConentPageLeft">
				<div class="imglogo"></div>
				<ul>
					<li v-for="(title_index,index) in titleIndex" @click="changeTitle(index)"><i :class="{active:changeTitles ===index }"></i></li>
				</ul>
			</div>
			<div id="ConentPageRight">
				<div id="RightBackground"></div>
				<div id="RightTitle">
					<p class="di pageTilte">产品设置</p>
					<ul class="pageLogo di">
						<li><i></i></li>
						<li><i></i></li>
						<li><i></i></li>
						<li><i></i></li>
					</ul>
					<div class="clear"></div>
				</div>
				<div id="RightConent">
					<div id="RightNavMenu">
						<el-row class="tac proplow" >
							<el-col :span="12">
							    <el-menu
							     :collapse-transition=false
							      default-active="1-2"
							      class="el-menu-vertical-demo"
							      @select="handleSelect"
							      background-color="#e9f0f8"
							      text-color="#555958"
      							  active-text-color="#186dbe"
      							  @open="handleOpen"
							      @close="handleClose"
							    >
							    <el-submenu index="1">
							        <template slot="title">
							          <span style="display: inline-block;width: 100%;height: 56px;" class="t1">基础设置</span>
							        </template>
							        <el-menu-item-group class="t1">
							          <a href="systemSetub.html"><el-menu-item index="1-1">
							          	<span class="arrow0 arrow_size">产品分类</span>
							          </el-menu-item></a>
							          <a href="productSetub.html"><el-menu-item index="1-2">
							          	<span class="arrow0 arrow_size">产品设置</span>
							          </el-menu-item></a>
							          <a href="classifiSetub.html"><el-menu-item index="1-3">
							          	<span class="arrow0 arrow_size">故障类别</span>
							          </el-menu-item></a>
							        </el-menu-item-group>
							    </el-submenu>
							    <!--<el-submenu index="2">
							        <template slot="title">
							          <span style="display: inline-block;width: 100%;height: 56px;" class="t1">服务通道</span>
							        </template>
							        <el-menu-item-group class="t1">
							          <el-menu-item index="2-1">选项1</el-menu-item>
							          <el-menu-item index="2-2">选项2</el-menu-item>
							          <el-menu-item index="2-3">选项3</el-menu-item>
							          <el-menu-item index="2-4">选项4</el-menu-item>
							        </el-menu-item-group>
							    </el-submenu>-->
							    <el-submenu index="3">
							        <template slot="title">
							          <span style="display: inline-block;width: 100%;height: 56px;">工单设置</span>
							        </template>
							        <el-menu-item-group>
							          <!--<a href="typeWork.html"><el-menu-item index="3-1">工单类型</el-menu-item></a>-->
							          <a href="servicemodal.html">
							          	<el-menu-item index="3-2">
							          		<span class="arrow0 arrow_size">服务模式</span>
							          	</el-menu-item>
							          </a>
							          <a href="workTime.html">
							          	<el-menu-item index="3-3">
							          		<span class="arrow0 arrow_size">工作时间</span>
							          	</el-menu-item>
							          </a>
							        </el-menu-item-group>
							    </el-submenu>
							    <el-submenu index="4">
							        <template slot="title">
							            <span style="display: inline-block;width: 100%;height: 56px;" class="t1">组织人员</span>
							        </template>
							        <el-menu-item-group class="t1">
							          	<a href="architecture.html">
							          		<el-menu-item index="4-1">
							          			<span class="arrow0 arrow_size">组织架构</span>
							          		</el-menu-item>
							          	</a>
										<a href="permissions.html">
											<el-menu-item index="4-2">
												<span class="arrow0 arrow_size">权限设置</span>
											</el-menu-item>
										</a>
							        </el-menu-item-group>
							    </el-submenu>
							   </el-menu>
							  </el-col>
							</el-row>
						</div>
						<div id="RightForm">
							<div class="Right_createNew">
								<button class="RightFormBtn fr" @click="create_product">
									<i class="fa fa-plus" aria-hidden="true"></i> 
									<span>新建产品</span>
								</button>
								<div class="clear"></div>
							</div>
							<!--产品设置列表-->
							<div class="RightFormConent">
								<ul class="RightFormConent_title">
									<li>产品名称</li>
									<li>产品型号</li>
									<li>品牌</li>
									<li>产品分类</li>
									<li>详情</li>
									<div class="clear"></div>
								</ul>
								<ul class="RightFormConent_Content" @click="Detail(listDetail.id)" v-for="(listDetail,index) in list">
									
									<!--产品名称-->
									<el-tooltip class="item" effect="dark" :content="listDetail.name" placement="top-start" popper-class="tool_tip" v-if="listDetail.name.length > 27">
										<li v-if="listDetail.name.length > 27">
											<div class="conent_inline" v-html="listDetail.name"></div>
										</li>
									</el-tooltip>
									<li v-if="listDetail.name.length <= 27">
										<div class="conent_inline" v-html="listDetail.name"></div>
									</li>
									<!--产品型号-->
									<el-tooltip class="item" effect="dark" :content="listDetail.model" placement="top-start" popper-class="tool_tip" v-if="listDetail.model.length > 27">
										<li v-if="listDetail.model.length > 27">
											<div class="conent_inline" v-html="listDetail.model"></div>
										</li>
									</el-tooltip>
									<li v-if="listDetail.model.length <= 27">
										<div class="conent_inline" v-html="listDetail.model"></div>
									</li>
									<!--品牌-->
									<el-tooltip class="item" effect="dark" :content="listDetail.brand" placement="top-start" popper-class="tool_tip" v-if="listDetail.brand.length > 18">
										<li v-if="listDetail.brand.length > 18">
											<div class="conent_inline" v-html="listDetail.brand"></div>
										</li>
									</el-tooltip>
									<li v-if="listDetail.brand.length <= 18">
										<div class="conent_inline" v-html="listDetail.brand"></div>
									</li>
									<!--产品分类-->
									<el-tooltip class="item" effect="dark" :content="listDetail.typeName" placement="top-start" popper-class="tool_tip" v-if="listDetail.typeName.length > 18">
										<li v-if="listDetail.typeName.length > 18">
											<div class="conent_inline" v-html="listDetail.typeName"></div>
										</li>
									</el-tooltip>
									<li v-if="listDetail.typeName.length <= 18">
										<div class="conent_inline" v-html="listDetail.typeName"></div>
									</li>
									<li>
										<i class="fa fa-file-text-o detail_fa" aria-hidden="true"></i>
									</li>
									<div class="clear"></div>
								</ul>
							</div>
							<div class="RightFormConent_Bottom block">
							    <el-pagination
							      	@current-change="handleCurrentChange"
							      	:current-page.sync="numberValidateForm2.pageNum"
							      	:page-size="8"
							      	layout="total, prev, pager, next"
							      	:total="this.totals">
    							</el-pagination>
							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="clear"></div>
				
				<!--新建档案详情弹窗-->
				<div id="PopNewDetail">
					<el-dialog
  					title="产品详情"
  					:visible.sync="dialogVisible3"
  					width="680px">
  						<ul>
  							<li>名称<p v-html="productListDetail.name"></p></li>
								<li>型号<p v-html="productListDetail.model"></p></li>
  							<li>品牌<p v-html="productListDetail.brand"></p></li>
								<li>分类<p v-html="productListDetail.typeName"></p></li>
  						</ul>
  						<div class="uploadDiv1" v-if="this.fileList2!=null && this.fileList2.length>0" style="margin-left: 30px;">
							<!--<span style="color:black;font-size:16px;">图片上传</span>-->
							<img class="di" :src="aaa" v-for="(aaa,index) in fileList2" style="width: 80px;height: 100px;"/>
						</div>
  						<span slot="footer" class="dialog-footer dialog-footer1">
	    					<el-button @click="Detail_Editor(productListDetail.id)" type="warning">编&nbsp;&nbsp;&nbsp;&nbsp;辑</el-button>
	    					<el-popover
				  				placement="top"
				  				width="160"
				  				v-model="visible2"
				  				popper-class="my-delete"
				  				>
				  				<div class="icon_title">
				  					<i class="icon_mark"></i>
				  					<span style="color: red;font-size: 16px;">确定删除吗?</span>
				  				</div>
				  			    <p class="check_delete" style="cursor: pointer;" @click="Delete_true">
				  			    	<input type="checkbox" :checked="checked"/> 是的，确定删除
				  			    </p>
				  			    <div class="bottom_wire"></div>
							  	<div style="text-align: right; margin: 0">
							  		<el-button type="danger" :loading="loading" @click="Delete_Detail(productListDetail.id)" :disabled="disabled" class="deleteNow">{{this.Detail_Deleting}}</el-button>
							    	<el-button  @click="visible2 = false" class="cancel">取消</el-button>
							  	</div>
				  			  	<el-button slot="reference" type="danger"  @click="Detail_Delete">删&nbsp;&nbsp;&nbsp;&nbsp;除</el-button>
							</el-popover>
	  					</span>
  					</el-dialog>
				</div>
				<!--新建产品弹窗-->
				<div id="PopNewMan">
					<el-dialog
  					:title="product"
  					:visible.sync="dialogVisible1"
  					width="460px">
  						<el-form :model="numberValidateForm2"  label-width="100px" class="demo-ruleForm" status-icon :rules="rules3" ref="numberValidateForm2" >
  							<div class="Form_Create_Customer">
  								<!--产品类别-->
								<el-form-item label="" prop="typeName">
									<el-select v-model="numberValidateForm2.typeName" placeholder="请选择产品类别(必选)" @focus="product_label" @change="productClick" popper-class="my-autocomplete0">
									    <el-option-group
									      	v-for="group in options3"
									      	:key="group.label"
									      	:label="group.label">
									      	<el-option
									        	v-for="(item,index) in group.options"
									        	:key="item.id"
									        	:label="item.name"
									        	:value="item.id">
									      	</el-option>
						    			</el-option-group>
	  								</el-select>
  								</el-form-item>
								<!--产品名称-->
								<el-form-item label="" prop="name">
					 				<div :class="{'insIf1':this.zIndex}" class="inputsDiv1">产品名称(必填)</div>
    								<el-input v-model="numberValidateForm2.name" clearable auto-complete="off" :placeholder='holder' @focus="validatePass2" ></el-input>
  								</el-form-item>
  								<!--产品型号-->
  								<el-form-item label="" prop="model">
					 				<div :class="{'insIf2':this.zIndex1}" class="inputsDiv2">产品型号(必填)</div>
    								<el-input v-model="numberValidateForm2.model" clearable auto-complete="off" :placeholder='holder1' @focus="validatePass3" ></el-input>
  								</el-form-item>
  								<!--产品品牌-->
  								<el-form-item label="" prop="brand">
  									<div :class="{'insIf3':this.zIndex2}" class="inputsDiv3">产品品牌</div>
    								<el-input v-model="numberValidateForm2.brand" clearable auto-complete="off" :placeholder='holder2' @focus="validatePass4" @blur="validatePass5"></el-input>
  								</el-form-item>
  								<div class="uploadDiv">
									<span style="color:black;font-size:16px;">图片上传</span>
									<el-upload
											action="/uploadFile"
											list-type="picture-card"
											:on-success="uploadFileSuccess"
											:file-list="updataFiles"
											:on-preview="handlePictureCardPreview"
											:on-remove="handleRemove">
											<i class="el-icon-plus"></i>
									</el-upload>
									<el-dialog :visible.sync="dialogVisible5">
									  <img width="100%" :src="dialogImageUrl" alt="">
									</el-dialog>
								</div>
  							</div>
  						</el-form>
  						<div id="FormBottoms"></div>
  						<span slot="footer" class="dialog-footer dialog-footer2">
	    					<el-button @click="dialogVisible1=false">取&nbsp;&nbsp;&nbsp;&nbsp;消</el-button>
	    					<el-button type="primary" @click="submitForm0('numberValidateForm2')">确&nbsp;&nbsp;&nbsp;&nbsp;定</el-button>
	  					</span>
					</el-dialog>
				</div>
				
				
			</div>
			
	</body>
	<script type="text/javascript">
		
	</script>
</html>