<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>注册</title>
		<link rel="stylesheet" href="../static/element-ui.css" />
	</head>
	<body >
		<div id="Registration">
			<div class="title-top" >
				<div class="title-top-one">
					<i class="title-top-one-logo" @click="goindex"></i>
				</div>
				<div class="title-top-two">
					<span class="title-top-two-radir">我已注册, 马上<span class="login"><a href="login.html">登录</a></span></span>
				</div>
			</div>
			<div class="form-control">
				<p class="form-control-p">企业注册</p>
				<div class="form-control-regist">
					<div class="form-control-title">
						<p class="title-color">填写联系人信息</p>
						<p class="title-step"></p>
						<p class="title-step1">></p>
						<p class="title-step3">创建组织</p>
					</div>
					<el-form :model="numberValidateForm" ref="numberValidateForm" label-width="100px" class="demo-ruleForm" status-icon :rules="rules2">
					 	<el-form-item label="" prop="name">
					 		<div :class="{'insIf':this.zIndex}" class="inputsDiv">联系人</div>
    						<el-input  v-model="numberValidateForm.name" auto-complete="off" :placeholder='holder' @focus="validatePass0"></el-input>
  						</el-form-item>
  						
  						<el-form-item label="" prop="phone">
  							<div :class="{'insIf1':this.zIndex1}" class="inputsDiv1">手机号</div>
    						<el-input  v-model="numberValidateForm.phone" auto-complete="off" :placeholder='holder1' @focus="validatePass1"></el-input>
  						</el-form-item>
  						
  						<el-form-item label="" prop="password">
  							<div :class="{'insIf2':this.zIndex2}" class="inputsDiv2">密码(6-20)字母、数字、无空格</div>
    						<el-input type="password" v-model="numberValidateForm.password" auto-complete="off" :placeholder='holder2' @focus="validatePass2"></el-input>
  						</el-form-item>
  						
  						<el-form-item label="" prop="captcha">
  							<div :class="{'insIf3':this.zIndex3}" class="inputsDiv3">图片验证码</div>
    						<el-input  v-model="numberValidateForm.captcha" auto-complete="off" :placeholder='holder3' @focus="validatePass3"></el-input>
  						</el-form-item>
  						<div class="imgspic" style="cursor: pointer;"><img :src='edge'  id="captchaImage" style="width: 120px;height: 50px;" ref="imagesPic" @click="aadd"></div>
  						
  						<el-form-item label="" prop="phoneCaptcha">
  							<div :class="{'insIf4':this.zIndex4}" class="inputsDiv4">手机验证码</div>
    						<el-input  v-model="numberValidateForm.phoneCaptcha" auto-complete="off" :placeholder='holder4' @focus="validatePass4"></el-input>
  						</el-form-item>
  						<button class="w form-control-second-button" :class="{'Isdisabled':zIndex5,'disabled1':!zIndex7}"  @click="idenfyIng">
							{{identifying}}
						</button>
						<div class="form-control-agreement">
							<input type="checkbox" style="width: 16px;height: 16px;vertical-align: middle;"/>
							<span>我已阅读并同意</span>
							<span class="formcontrol">《云维服务条款》</span>
						</div>
				  		<el-form-item>
				    		<el-button type="primary" class="submitForm" @click="submitForm('numberValidateForm')">提交</el-button>
				  		</el-form-item>
					</el-form>
				</div>
			</div>
			<div class="bottom-title">
					<ul class="bottom-title-ul">
						<li><a href="./bottomhtml/aboutUs.html">关于我们</a> |</li>
						<li><a href="./bottomhtml/callUs.html">联系我们</a> |</li>
						<li><a href="./bottomhtml/joinUs.html">加入我们</a> |</li>
						<li><a href="./bottomhtml/feedBack.html">意见反馈</a> |</li>
						<li><a href="./bottomhtml/news.html">新闻动态</a> |</li>
						<li><a href="./bottomhtml/helpCenter.html">帮助中心</a> |</li>
						<li><a href="./bottomhtml/service.html">服务条款</a></li>
					</ul>
					<p class="bottom-title-p">
						Copyright © 2018 云维 保留所有权利 / 京ICP备88888888号
					</p>
			</div>
		</div>
		<script type="text/javascript" src="../static/vue.js"></script>
		<script type="text/javascript" src="../static/element-ui.js"></script>
		<script type="text/javascript" src="../static/axios.min.js" ></script>
		<script type="text/javascript" src="../static/receiving.js" ></script>
	</body>
</html>