<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>重置密码提交</title>
		<link rel="stylesheet" href="../static/element-ui.css" />
	</head>
	<body>
		<div id="resetSubmission">
			<div class="title-top">
				<div class="title-top-one">
					<i class="title-top-one-logo"></i>
					<!--<span class="title-top-one-tittle">云</span><span class="title-top-one-tittle">维</span>-->
				</div>
				<div class="title-top-two">
					<span class="title-top-two-radir">企业注册</span>
					<span><a href="index.html">登录</a></span>
				</div>
			</div>
			<div class="form-control">
				<p class="form-control-p">重置密码</p>
				<el-form :model="ruleForm2" status-icon :rules="rules2" ref="ruleForm2" label-width="100px" class="demo-ruleForm">
					<el-form-item label="" prop="pass">
						<div :class="{'insIf':this.zIndex}" class="inputsDiv">新密码</div>
						<el-input type="password" v-model="ruleForm2.pass" auto-complete="off" :placeholder='holder' @focus="validatePass0"></el-input>
					</el-form-item>
					<el-form-item label="" prop="checkPass">
						<div :class="{'insIf1':this.zIndex1}" class="inputsDiv1">重复输入</div>
						<el-input type="password" v-model="ruleForm2.checkPass" auto-complete="off" :placeholder='holder1' @focus="validatePass1"></el-input>
					</el-form-item>
					<el-form-item label="手机号" prop="phone" style="display: none;">
	    				<el-input v-model.number="ruleForm2.phone"></el-input>
	  			</el-form-item>
					<el-form-item>
						<el-button type="primary" @click="submitForm('ruleForm2')" :class="{'formCtrol':this.zIndex2}">提交</el-button>
					</el-form-item>
				</el-form>
			</div>
			<div class="bottom-title">
				<ul class="bottom-title-ul">
					<li><a href="./bottomhtml/aboutUs.html">关于我们</a> |</li>
					<li><a href="./bottomhtml/callUs.html">联系我们</a> |</li>
					<li><a href="./bottomhtml/joinUs.html">加入我们</a> |</li>
					<li><a href="./bottomhtml/feedBack.html">意见反馈</a> |</li>
					<li><a href="./bottomhtml/news.html">新闻动态</a> |</li>
					<li><a href="./bottomhtml/helpCenter.html">帮助中心</a> |</li>
					<li><a href="./bottomhtml/service.html">服务条款</a></li>
				</ul>
				<p class="bottom-title-p">
					Copyright © 2018 云维 保留所有权利 / 京ICP备88888888号
				</p>
			</div>
		</div>
		<script type="text/javascript" src="../static/vue.js"></script>
		<script type="text/javascript" src="../static/element-ui.js" ></script>
		<script type="text/javascript" src="../static/axios.min.js" ></script>
		<script type="text/javascript" src="../static/receiving.js" ></script>
	</body>
</html>